<li>
  <div>
    <strong>First Name:</strong> <%= patient.first_name %>
  </div>
  <div>
    <strong>Last Name:</strong> <%= patient.last_name %>
  </div>
  <div>
    <strong>Mobile Number:</strong> <%= patient.mobile_number %>
  </div>
  <div>
    <strong>Email:</strong> <%= patient.email %>
  </div>
  <div>
    <strong>Gender:</strong> <%= patient.gender %>
  </div>
  <div>
    <strong>Doctor ID:</strong> <%= patient.doctor_id %>
  </div>
</li>
