<h1>Patients</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Mobile Number</th>
      <th>Gender</th>
      <th>Doctor</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.first_name %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.email %></td>
        <td><%= patient.mobile_number %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.doctor.name if patient.doctor %></td>
        <td>
          <%= link_to 'View', patient, class: 'btn btn-sm btn-info' %>
          <%= link_to 'Edit', edit_patient_path(patient), class: 'btn btn-sm btn-warning' %>
          <%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create New Patient', new_patient_path, class: 'btn btn-primary' %>
