<div id="<%= dom_id appointment %>">
  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= appointment.status %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= appointment.remarks %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= appointment.doctor_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= appointment.patient_id %>
  </p>

</div>
