<h1>Appointments</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Status</th>
      <th>Patient</th>
      <th>Doctor</th>
      <th>Remarks</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date %></td>
        <td><%= appointment.status %></td>
        <td><%= "#{appointment.patient.first_name} #{appointment.patient.last_name}" if appointment.patient %></td>
        <td><%= appointment.doctor.name if appointment.doctor %></td>
        <td><%= truncate(appointment.remarks, length: 50) %></td>
        <td>
          <%= link_to 'View', appointment, class: 'btn btn-sm btn-info' %>
          <%= link_to 'Edit', edit_appointment_path(appointment), class: 'btn btn-sm btn-warning' %>
          <%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create New Appointment', new_appointment_path, class: 'btn btn-primary' %>
