<p style="color: green"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @doctor.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doctor.email %>
</p>

<div>
  <%= link_to "Edit this doctor", edit_doctor_path(@doctor) %> |
  <%= link_to "Back to doctors", doctors_path %>
</div>
