<li>
  <div>
    <strong>Date:</strong> <%= lab_test.date %>
  </div>
  <div>
    <strong>Result:</strong> <%= lab_test.result %>
  </div>
  <div>
    <strong>Status:</strong> <%= lab_test.status %>
  </div>
  <div>
    <strong>Lab Technician ID:</strong> <%= lab_test.lab_technician_id %>
  </div>
  <div>
    <strong>Patient ID:</strong> <%= lab_test.patient_id %>
  </div>
</li>
