<h1>Lab Tests</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Result</th>
      <th>Status</th>
      <th>Patient</th>
      <th>Lab Technician</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @lab_tests.each do |lab_test| %>
      <tr>
        <td><%= lab_test.date %></td>
        <td><%= lab_test.result %></td>
        <td><%= lab_test.status %></td>
        <td><%= "#{lab_test.patient.first_name} #{lab_test.patient.last_name}" if lab_test.patient %></td>
        <td><%= lab_test.lab_technician.name if lab_test.lab_technician %></td>
        <td>
          <%= link_to 'View', lab_test, class: 'btn btn-sm btn-info' %>
          <%= link_to 'Edit', edit_lab_test_path(lab_test), class: 'btn btn-sm btn-warning' %>
          <%= link_to 'Delete', lab_test, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create New Lab Test', new_lab_test_path, class: 'btn btn-primary' %>
