<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>
      <ul>
        <% invoice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :generated_on, class: 'form-label' %>
    <%= form.date_field :generated_on, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :total_price, class: 'form-label' %>
    <%= form.number_field :total_price, step: 0.01, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :service_type, class: 'form-label' %>
    <%= form.select :service_type, options_for_select([['Consultation', 1], ['Lab Test', 2], ['Prescription', 3]]), {}, class: 'form-select' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
