<li>
  <div>
    <strong>Date:</strong> <%= prescription.date %>
  </div>
  <div>
    <strong>Doctor Note:</strong> <%= prescription.doctor_note %>
  </div>
  <div>
    <strong>Drug Information:</strong> <%= prescription.drug_information %>
  </div>
  <div>
    <strong>Doctor ID:</strong> <%= prescription.doctor_id %>
  </div>
  <div>
    <strong>Patient ID:</strong> <%= prescription.patient_id %>
  </div>
</li>
