<%= form_with(model: payment, local: true, class: 'needs-validation', novalidate: true) do |form| %>
  <% if payment.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
        <% payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :sub_total, class: 'form-label' %>
    <%= form.number_field :sub_total, step: 0.01, class: 'form-control', required: true %>
    <div class="invalid-feedback">Sub total is required</div>
  </div>

  <div class="mb-3">
    <%= form.label :gross_total, class: 'form-label' %>
    <%= form.number_field :gross_total, step: 0.01, class: 'form-control', required: true %>
    <div class="invalid-feedback">Gross total is required</div>
  </div>

  <div class="mb-3">
    <%= form.label :deposit_total, class: 'form-label' %>
    <%= form.number_field :deposit_total, step: 0.01, class: 'form-control', required: true %>
    <div class="invalid-feedback">Deposit total is required</div>
  </div>

  <div class="mb-3">
    <%= form.label :doctor_id, class: 'form-label' %>
    <%= form.collection_select :doctor_id, TenaDcms::Doctor.all, :id, :name, { prompt: 'Select Doctor' }, { class: 'form-select', required: true } %>
    <div class="invalid-feedback">Doctor is required</div>
  </div>

  <div class="mb-3">
    <%= form.label :patient_id, class: 'form-label' %>
    <%= form.collection_select :patient_id, TenaDcms::Patient.all, :id, :first_name, { prompt: 'Select Patient' }, { class: 'form-select', required: true } %>
    <div class="invalid-feedback">Patient is required</div>
  </div>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>
