<div id="<%= dom_id payment %>">
  <p>
    <strong>Sub total:</strong>
    <%= payment.sub_total %>
  </p>

  <p>
    <strong>Gross total:</strong>
    <%= payment.gross_total %>
  </p>

  <p>
    <strong>Deposit total:</strong>
    <%= payment.deposit_total %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= payment.doctor_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= payment.patient_id %>
  </p>

</div>
